<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">
<head>
<!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='/static/style.css' />
 
<!--  Load JavaScript in Flask with html-->
  <script>

  </script>
 
  </head>
  <div class="row clearfix">
      <h1 style="text-align:center" >IPsec Communicator</h1>
      
    </div>
  
<div class="container">
    
<div class="row clearfix">
   
    <div class="col-lg-12">
       
        <div class="card chat-app">
           
            <!-- Lista kontaktów -->
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    <h2>Add new Contact</h2>   
                    </div>

                    <!-- Add new Kontakt -->
                    {% block content  %}

                    <form method="post" action="/">
                        <p><input type="text" name = "newContactname" placeholder="Name"  ></p>
                        <p><input type="text"  name = "newContactIp" placeholder="Ip addres"></p>
                        <input type="submit" value="Add" name="action1" />
                    </form>
                    
                    {% endblock %}
                </div>
              
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    
                    <li class="clearfix">
                        <img src="static/avatarLeft.png" alt="avatar">
                        <div class="about">
                            <div class="name">Vincent Porter</div>                                      
                        </div>
                    </li>
                    
                </ul>
            </div>
            <!-- Koniec konkaktow -->


            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="static/avatarRight.png" alt="avatar">
                            </a>
                            <!-- Osoba z którą obecnie się pisze -->
                            <div class="chat-about">
                                <h6 class="m-b-0">Aiden Chavez</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Okienko czatu  -->
                <div class="chat-history">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message-data-right">
                                <span class="message-data-time">10:10 AM, Today</span>
                            </div>
                            <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>                               
                        
                    </ul>
                </div>
                <!-- Koniec okienka czatu  -->

                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>